body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
}

.main-container {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-blue {
  background-color: #0098e9;
}
